
html {
  overflow-y: hidden;
}

body, html {
  background: none;
  height: auto;
  min-height: 100%;
}

body { 
  margin: 0;
  background-color: #222222;
}

canvas { 
  width: 100%; 
  height: 100%;
}

.container {
  max-width: 960px;
  margin: 0 auto;
}

.container-md {
  max-width: 660px;
}

.container-content {
  padding: 30px 40px;
  margin: 40px 0;
}

hr {
  border-style: solid;
  border-bottom: 0;
  border-color: rgba(0,0,0,0.1)
}

.text-center {
  text-align: center;
}

.pull-left {
  float: left;
}

.pull-right {
  float: right;
}

/* Material Design overrides */

md-content.md-default-theme {
  background-color: #222222;
  color: #ffffff;
}

md-toolbar.md-default-theme {
  background-color: #000000;
  color: #ffffff;
}

md-radio-group {
  border: none;
}

md-sidenav {
  background-color: rgba(255,255,255,0.6);
}

md-content .md-button.md-default-theme {
  background-color: #ffffff;
}

.md-subheader.md-default-theme.md-primary {
  background-color: #444444;
  color: #ffffff;
  margin-right: 0px;
  font-size: 20px;
  font-weight: bold;
}

.md-button.md-default-theme.md-fab.md-primary, .md-button.md-default-theme.md-raised.md-primary {
  padding: 14px 40px;
  background-color: rgba(102,187,106,.87);
}
