html {
  height: 100%;
}

body {
  width: 100%;
  height: 100%;
  font-family: "Helvetica Neue", Helvetica, Open Sans, Arial, sans-serif;
  background: #fff url('//assets.divshot.io/superstatic/background.jpg') top center no-repeat;
  background-size: 100% auto;
  margin: 0;
  overflow: hidden;
}

@media (max-width: 400px) {
  body {
    background-size: 520%;
  }
}

#error-wrapper {
  position: relative;
  width: 100%;
  height: 100%;
}

#error {
  position: relative;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  transform: translateY(-50%);
  max-width: 500px;
  text-align: center;
  margin: 0 auto;
  padding: 1.5em;
}

#error h1 {
  color: #333;
  font-size: 3em;
  line-height: 1.2em;
  font-weight: bold;
  margin: 0 0 0.2em;
}

#error h2 {
  color: #333;
  font-size: 1.6em;
  line-height: 1.5em;
  font-weight: bold;
  margin: 1em 0 0.2em;
}
#error p {
  margin: 0;
  color: #777;
  line-height: 1.5em;
}

#error #footer {
  font-size: 11px;
  text-align: center;
  margin-top: 1.5em;
  opacity: 0.5;
}

#error #footer a {
  color: #999;
}