
<section layout="column">

  <header >

    <md-card>
     <md-card-content>
        <h2>{{ question.heading }}</h2>
        <p>{{ question.question }}</p>
        <md-button class="" ng-click="prevQuestion()" ng-disabled="currentStep == 1">Previous</md-button>
        <md-button class="" ng-click="nextQuestion()" ng-hide="currentStep == questions.length">Next</md-button>
        <md-button class="md-primary" ng-click="goToResults()" ng-show="currentStep == questions.length">Complete</md-button>
      </md-card-content>
    </md-card>

  </header>

  <div layout="row">
    <cube></cube>
    <ladder></ladder>
    <horse></horse>
    <flowers></flowers>
    <storm></storm>
  </div>

  <pre>{{ questions | json }}</pre>

  <footer></footer>

</section>